* {
    margin: 0;
    padding: 0;
    color: white;
}
#container {
    position: relative;
}
#secao1 {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 2em;
    background-color: #191A21;
    border-bottom: 0.5px solid #16171E;
}
#area-menu {
    position: relative;
    height: 2em;
    margin-left: 30vh;
}
#menu {
    position: absolute;
    padding: 1vh;
    display: flex;
    list-style: none;
    text-decoration: dashed;
}
#menu ul{
    text-align: center;
}
#menu li a{
    padding: 7vh;
    text-decoration: none;
}
.home:hover {
    color: #00ffff;
}
.sobre:hover {
    color: #ff7f50
}
.projetos:hover {
    color: #8b008b;
}
.contato:hover {
    color: #49f749;
}
#secao2 {
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: #282A36;
}
#projetos {
    z-index: 1;
    position: absolute;
    background-color: #21222C;
    border-right: 0.5px solid #16171E;
    margin-top: -5.1vh;
    height: 100vh;
    width: 30vh;
}
#menu-lateral {
    position: absolute;
    margin-top: 3em;
    text-align: left;
}
#secao3 {
    z-index: 4;
    position: relative;
    margin-top: 1px solid black;
    width: 100%;
    height: 3vh;
    background-color: #191A21;
    border-top: 0.5px solid #16171E;
}