* {
    margin: 0;
    padding: 0;
}
#container {
    position: relative;
}
#secao1 {
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: #191A21;
    border-bottom: 0.5px solid black;
}
#secao2 {
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: #282A36;
}
#sobre {
    position: absolute;
    background-color: #343746;
    border-right: 0.5px solid black;
    height: 100%;
    width: 10vh;
}
#secao3 {
    position: relative;
    margin-top: 1px solid black;
    width: 100%;
    height: 3vh;
    background-color: #191A21;
}