// Definição de variáveis, importações, mixin e funções
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

$crayola: #f5cb5c;
$jet: #353535;
$lightSilver: #d9d9d9;
$policeBlue: #284b63;

$crimson: 'Crimson Text', serif; //normal
$gruppo: 'Gruppo', cursive; //titluo

$normalFont: 1.6rem;
$smalFont: 1.4rem;
$bigFont: 2rem;
$mediumFont: 1.8rem;

* {
    // configurações globais dentro da aplicação (elemento pai de todos)
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

    font: {
        size: 62.5%; /* define que 1rem = 10px (ajuda na responsividade e para usuários que tenha
                        problemas de vista. :)  */
        family: '$crimson'; 
        style: none;
    }
    
    color: #000;
    line-height: 1.5;
    text-decoration: none; 
    list-style: none; 

}

header {
    background: {
        color: $jet;
    }
    nav#navHeader {

    a#title {
        &::first-letter {
            color: $lightSilver;
        }

        span {
            font: {
                size: $mediumFont;
                family: $gruppo;
                weight: bold;
            }
            
            padding: {
                right: .5rem;
            }

            color: $crayola;
            letter-spacing: .1rem;
        }
    }

    div#navbarNav {
        ul {
            li {
                a {
                    font: {
                        size: $normalFont;
                    }
                    span {
                        font: {
                            size: $normalFont;
                        }

                    }

                    &:hover {
                        color: $crayola;
                    }
                }
            }
        }
    }
}
}